
#countdown{
	/* width: 465px; */
	/* height: 150px; */
	text-align: center;
	/* background: #222; */
/* 	
	border: 1px solid #111;
	border-radius: 5px;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6); */
	margin: auto;
	padding: 24px 0;
}

#countdown #tiles > span{
	width: 92px;
	max-width: 92px;
	font: bold 48px 'Droid Sans', Arial, sans-serif;
	text-align: center;
	color: rgb(199, 81, 81);
	background-color: #ddd;
	background-image: -webkit-linear-gradient(top, rgb(225, 183, 183), rgb(247, 230, 230)); 
	background-image:    -moz-linear-gradient(top, rgb(225, 183, 183), rgb(247, 230, 230));
	background-image:     -ms-linear-gradient(top, rgb(225, 183, 183), rgb(247, 230, 230));
	background-image:      -o-linear-gradient(top, rgb(225, 183, 183), rgb(247, 230, 230));
	border-top: 0px solid rgb(252, 252, 252);
	border-radius: 0px;
	box-shadow: 0px 0px 0px rgb(252, 252, 252);
	margin: 0 7px;
	padding: 18px 0;
	display: inline-block;
	position: relative;
}



#countdown .labels li{
	width: 102px;
	font: bold 15px 'Comic Sans', Comic Sans, sans-serif;
	color: #db8282;
	text-align: center;
	text-transform: uppercase;
	display: inline-block;
}